<!-- TODO: implement search input for ticket/trip code/id and fetch objects after submit -->
<mat-card class="search-input-wrapper">
  <form>

  <mat-card-title>Podaj kod zarezerwowanej podróży lotniczej:</mat-card-title>
  <mat-form-field class="search-code-input">
    <mat-label>kod podróży</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="tripCodeSearchQuery" [ngModelOptions]="{standalone: true}" />
  </mat-form-field>

  <mat-card-actions>
    <button
      mat-button
      color="primary"
      type="submit"
      [disabled]="!tripCodeSearchQuery.length"
      (click)="onSearch()">Szukaj
    </button>
  </mat-card-actions>
</form>

</mat-card>

<app-ticket
  *ngIf="shouldDisplayTicketDetails()"
  [ticket]="ticket">
</app-ticket>
