.mat-card .mat-form-field {
  margin: 1vh 5%;
  width: 40%;
}

button {
  display: block;
  width: 25%;
  margin: 0 auto;
  background: white;
}

button:valid {
  background: #673ab7;
  color: white;
}
