  <div class="card">
    <img class="card-img-top img-responsive" src={{cardImageUrl}} alt="Card image cap">
    <div class="card-body">
        <h4 class="card-title">{{airport.airportName}}</h4>
        <p class="card-text"><b>{{airport.city}}, {{airport.country}}</b></p>
        <p class="card-text"><b>IATA</b>: {{airport.iata}} &nbsp; <b>ICAO</b>: {{airport.icao}}</p>
        <p class="card-text">Strefa czasowa: {{airport.timezone}}</p>
        <a href="#" style="background-color: #fb9678; border-color: #4f5467" class="btn btn-primary">Szukaj połączeń</a>
    </div>
  </div>
