form {
  text-align: center;
}

form > * {
  margin-right: 2vw;
}

.mat-form-field, .mat-checkbox {
  font-size: 1.2rem;
}

.mat-checkbox {
  display: block;
}

.location {
  width: 45%;
}

.date {
  width: 15%;
}
