<mat-card>
  <mat-card-header>
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>Skąd:</mat-label>
        <input
          matInput
          type="text"
          formControlName="sourceLocation"
          [matAutocomplete]="srcAc"
          (input)="getAutocompleteAirportsOptions($event)"
          />
          <mat-autocomplete #srcAc>
            <mat-option *ngFor="let option of srcOptions | async" [value]="option.name.concat(', ', option.city, ', ', option.country)">
              {{option.name}}, {{option.city}}, {{option.country}}
            </mat-option>
          </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Data wylotu:</mat-label>
        <input
          matInput
          [matDatepicker]="departureDp"
          formControlName="departureDate" />
        <mat-datepicker-toggle matSuffix [for]="departureDp"></mat-datepicker-toggle>
        <mat-datepicker #departureDp></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Dokąd:</mat-label>
        <input
          matInput
          type="text"
          formControlName="destinationLocation"
          [matAutocomplete]="dstAc"
          (input)="getAutocompleteAirportsOptions($event)"
          />
          <mat-autocomplete #dstAc>
            <mat-option *ngFor="let option of srcOptions | async" [value]="option.name.concat(', ', option.city, ', ', option.country)">
              {{option.name}}, {{option.city}}, {{option.country}}
            </mat-option>
          </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Data przylotu:</mat-label>
        <input matInput [matDatepicker]="arrivalDp" formControlName="arrivalDate"/>
        <mat-datepicker-toggle matSuffix [for]="arrivalDp"></mat-datepicker-toggle>
        <mat-datepicker #arrivalDp></mat-datepicker>
      </mat-form-field>

      <!-- <mat-form-field>
        <mat-label>Liczba pasażerów:</mat-label>
        <input matInput type="number" formControlName="passengersNumber" />
      </mat-form-field> -->

      <!-- <mat-form-field>
        <mat-label>W jedną stronę?</mat-label>
          <input type="checkbox" formControlName="oneWay" />
      </mat-form-field> -->
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" [disabled]="form.invalid" (click)="onSubmit()">Szukaj</button>
  </mat-card-actions>
</mat-card>
