<div class="row">
  <div *ngIf="!booked; else successfulBooking" class="col-12">
    <div *ngFor="let passenger of passengers; index as i" class="card col-5"  style="display: inline-block">
      <div class="card-body">
        <h2 class="card-title">
          Pasażer {{i+1}}
        </h2>

        <div class="form-group">
          <div class="input-group">
            <input
              [(ngModel)]="passenger.firstName"
              class="form-control"
              type="text"
              placeholder="Imię*" 
              required />
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <input
              [(ngModel)]="passenger.lastName"
              class="form-control"
              type="text"
              placeholder="Nazwisko*" 
              required />
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <input
              [(ngModel)]="passenger.id"
              class="form-control"
              type="text"
              placeholder="Pesel*" 
              required />
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <input
              [(ngModel)]="passenger.dateOfBirth"
              class="form-control"
              type="text"
              placeholder="Data urodzenia (YYYY-MM-DD)*" 
              required />
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <input
              [(ngModel)]="passenger.phoneNumber"
              class="form-control"
              type="text"
              placeholder="Numer telefonu" />
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <input
              [(ngModel)]="passenger.email"
              class="form-control"
              type="email"
              placeholder="E-mail" />
          </div>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <input
        value="Rezerwuj"
        type="submit"
        (click)="onBook()"
        class="btn" />
      
    </div>
  </div>
</div>

<ng-template #successfulBooking>
  <div class="card">
    <div class="card-body">
      <div class="card-header">
        ID twojej podróży: {{bookedTripId}}
      </div>
      Możesz użyć tego kodu, aby uzyskać szczegóły na temat 
      Twoich rezerwacji w zakładce 'Twoje bilety'.
    </div>
  </div>
</ng-template>
