.card {
  margin-top: 30vh;
  margin-left: 41vw;
  width: 35vw;
}

input.btn {
  background-color: #fb9678;
  border-color: #fb9678;
  outline: #4f5467;
  margin: 2vh 2vw 0 0;
  width: 6vw;
  min-width: 60px;
  float: right;
}

.card-title {
  color: #fb9678;
  font-style: italic;
  // text-align: center;

}
