<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
              <h2 class="card-title">
                &nbsp;Dokąd teraz?
              </h2>
              <br />

              <h5>
                {{subtitle}}
              </h5>
                <br />

            <form #tripParams="ngForm">
              <div class="form-group col-12" style="display: inline-block">
                <div class="form-check-inline">
                  <input
                    [checked]="trip.oneWay"
                    #oneWay
                    id="oneWay"
                    type="checkbox"
                    class="form-check-input"/>
                  <label class="form-check-label" for="oneWay">Podróż w jedną stronę</label>
                </div>
              </div>

              <div class="form-group col-6" style="display: inline-block">
                <label for="from">Miejsce wylotu</label>
                <div class="input-group">
                  <input
                    [(ngModel)]="trip.from"
                    [ngModelOptions]="{standalone: true}"
                    #from
                    id="from"
                    class="form-control"
                    type="text"
                    placeholder="Kraj, miasto lub lotnisko"
                    required />
                </div>
              </div>

              <div class="form-group col-6" style="display: inline-block">
                <label for="to">Miejsce przylotu</label>
                <div class="input-group">
                  <input
                    [(ngModel)]="trip.to"
                    [ngModelOptions]="{standalone: true}"
                    id="to"
                    class="form-control"
                    type="text"
                    placeholder="Kraj, miasto lub lotnisko" 
                    required />
                </div>
              </div>

              <div class="form-group col-6" style="display: inline-block">
                <label for="departureDate">Data wylotu</label>
                <div class="input-group">
                  <input
                    [(ngModel)]="departureDateStruct"
                    (blur)="onDateChange()"
                    id="departureDate"
                    class="form-control"
                    [placeholder]="todayDate"
                    name="departureDp"
                    ngbDatepicker
                    #departureDp="ngbDatepicker" 
                    required />
                  <div class="input-group-append">
                    <button
                      class="btn btn-outline-secondary"
                      (blur)="onDateChange()"
                      (click)="departureDp.toggle()"
                      type="button">
                        <i class="fa fa-calendar"></i>
                    </button>
                  </div>
                </div>
              </div>

              <div class="form-group col-6" style="display: inline-block">
                <label for="arrivalDate">Data przylotu</label>
                <div class="input-group">
                  <input
                    [(ngModel)]="arrivalDateStruct"
                    (blur)="onDateChange()"
                    id="arrivalDate"
                    class="form-control"
                    [placeholder]="nextDate"
                    name="arrivalDp"
                    ngbDatepicker 
                    #arrivalDp="ngbDatepicker"
                    required />

                  <div class="input-group-append">
                    <button
                      class="btn btn-outline-secondary"
                      (click)="arrivalDp.toggle()"
                      (blur)="onDateChange()"
                      type="button">
                        <i class="fa fa-calendar"></i>
                      </button>
                  </div>
                </div>
              </div>

              <div class="form-group col-6" style="display: inline-block">
                <label for="passengerNumber">Ilość pasażerów</label>
                <div class="input-group">
                  <input 
                    [(ngModel)]="trip.passengerNumber"
                    [ngModelOptions]="{standalone: true}"
                    id="passengerNumber"
                    class="form-control"
                    type="number"/>
                </div>
              </div>

              <div class="form-group col-6" style="display: inline-block">
                <label for="tripClass">Klasa</label>
                <div class="input-group">
                  <select
                    [(ngModel)]="trip.tripClass"
                    id="tripClass"
                    name="tripClass"
                    class="form-control">
                      <option value="economic" selected="true">Ekonomiczna</option>
                      <option value="economicFirst">Ekonomiczna premium</option>
                      <option value="first">Pierwsza</option>
                      <option value="business">Biznesowa</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <input
                  value="Dalej"
                  type="submit"
                  class="btn"
                  [disabled]="!trip.from || !trip.to || !trip.arrivalDate || !trip.departureDate"
                  (click)="onSubmit()" />
              </div>
            </form>
        </div>
    </div>
</div>