<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
            <h2 class="card-title">
              &nbsp; Znajdź lotnisko:<br/>
              <input
                [(ngModel)]="filterParam"
                (change)="onFilter()" type="text"
                class="form-control"
                placeholder="Podaj miasto, kraj lub lotnisko do którego chcesz się udać..." />
              <i class="ti-search"></i> 
            </h2>
            <span>Znaleziono: {{filteredAirports.length}}</span>
      </div>
  </div>
</div>

<ul *ngFor="let airport of filteredAirports" class="col-3" >
  <app-card [airport]="airport"></app-card>
</ul>
