<div class="row">
  <div class="col-12">
    <ul *ngFor="let trip of trips" class="col-12" >
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">
            &nbsp; {{trip.tickets[0].flight.srcAirport.airportName}}
            <i class="ti-arrow-right"></i>
            &nbsp; {{trip.tickets[trip.tickets.length-1].flight.dstAirport.airportName}}
          </h2>

          <div 
            *ngIf="trip.tickets.length-1 === 0; else connectedFlights"
            class="col-8">
            Lot bezpośredni &nbsp;
            <i class="ti-check"></i>
            <br />
            <div class="col-12 row">Linia lotnicza: 
              &nbsp;<em>{{trip.tickets[0].flight.airline.name}}</em></div>
          </div>

          <ng-template #connectedFlights>
            <div class="col-12">Liczba przesiadek: {{trip.tickets.length-1}}</div>
            <!-- maybe accordion here with dates of every ticket -->
            <div class="col-12" *ngFor="let ticket of trip.tickets">
              <em>
                <i class="ti-arrow-circle-right"></i>
                {{ticket.flight.airline.name}},
                {{ticket.flight.srcAirport.airportName}},
                {{ticket.departureDate}},
                {{ticket.flight.dstAirport.airportName}},
                {{ticket.arrivalDate}}
              </em>
              <br />
            </div>
          </ng-template>

          <div class="col-12">Wylot: <em>{{trip.departureDate}}</em></div>
          <div class="col-12">Przylot: <em>{{trip.arrivalDate}}</em></div>
          <div class="col-12">Cena: <em>{{trip.totalPrice}}</em> PLN</div>

          <input
            value="Zarezerwuj"
            type="submit"
            class="col-4 btn" />
        </div>

      </div>
    </ul>
  </div>
</div>