input.btn {
  background-color: #fb9678;
  border-color: #fb9678;
  outline: #4f5467;
  margin: 2vh 2vw 0 0;
  width: 10vw;
  min-width: 60px;
  float: right;
}

h1, h2, h3, h4, h5, h6 {
  color: #db6c4a;
}

em {
  color: #7460ee;
}

.ti-check {
  color: green;
}

.card-body {
  font-size: 1.1rem;
  color: #4f5467;
}

